a{text-decoration: none;}
.bottom-line{ border-bottom: 1px solid black}
.top-line{border-top:1px solid black}
.e {background-color: #ffa}
.support {background: #CCC}

.footnotes{
    padding: 10px;
    font-size: 0.7em;
}


ul{
    list-style-type: none;
    padding: 10px;
}
/* using flex-box to fix simple navbar */
@media (min-width: 500px){
    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        /* width: 70%; */
    }
    #about{
        align-self: flex-end;
        padding-right: 10px;
    }
}

/* @media (min-width: 500px){
    table{
        margin-right: 10px;
    }
} */

table{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    display: table !important;
}

tbody{
    width: 100%;
}
td, th{
    text-align: center;
    width: 25px;
    font-size: 0.8em;
}
td:first-child{
    text-align: right;
    font-size: 0.9em;
    /* width: 200px; */
}
@media (max-width: 800px){
    th{
        transform: rotate(90deg);
        height: 50px !important;
    }
}

header{
    text-align: center;
    margin-top: 10px;
    background: #bbb;
    width: 95%;
    margin: 5px auto;
    padding: 10px 0;
}
